body{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

h1{
    font-size: 45px;
    font-weight: 700;
}
h2{
    font-size: 40px;
}
.clr{
    color: #FF297D;
}
section{
    height: 660px;
}
.half-side{
    float: left;
    width: 40%;
}
.half-side img{
    width: 95%;
}
.first-background{
    padding-top: 7%;
    background-image: url(images/header-bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
}
#special-pad{
    padding-top: 100px;
    margin-left: 213px;
}
.link-button{
    text-decoration: none;
    background-image: linear-gradient(45deg,lightsalmon, tomato);
    padding: 10px 30px;
    border-radius: 5px;
    color: white;
    font-weight: 700;
}
p{
    font-size: 15px;
    color: gray;
    text-align: justify;
}
#right-side{
    margin-top: 16%;
}
#special-pad-1{
    padding: 115px 90px 0px 125px;
}
.second-background{
    height: 880px;
    background-image: url(images/biography-bg.png);
    background-size: 100%;
}
.center{
    text-align: center;
}
.third-background{
    height: 450px;
    background-image: url('images/latest-work-bg.png');
    background-repeat: no-repeat;
    background-size: 100%;
    padding-top: 105px;
}
.one-third{
    float: left;
    width: 30%;
    padding: 12px;
}
.one-third img{
    width: 100%;
}
.three{
    width: 80%;
    margin: 0 auto;
}